h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

body{
    background-image: url(../img/fondo.jpg);
    font-family: 'Montserrat', sans-serif;
}
#contenedor{
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    border: 2px solid black;
}
#contenedor button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#contenedor img{
    width: 25%;
}
.presentacion{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

footer{
    margin-top: 30px;
    text-align: center;
    background-color: #fff;
}
